<!-- base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <nav>
        <h1>Flask Login Standard Library! 🐍</h1>
        <a href="{{ url_for('login') }}">Login ➡️</a>
        <a href="{{ url_for('profile') }}">Profile 👤</a>
        <a href="{{ url_for('logout') }}">Logout ⬅️</a>
        <a href="{{ url_for('about') }}">About ℹ️</a>
    </nav>
    <main>
        <section class="center">
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            <br>
        </section>
        {% endfor %}
        {% block content %}

        {% endblock %}
    </main>
</body>

</html>

