<!-- about.html -->

{% extends "base.html" %}
{% block title %} About {% endblock title %}

{% block content %}

<section class="center">
    <h1 class="headline-h1">About Big Mike! 👨‍💻</h1>
    <br><br>
</section>
<section class="grid-container">
    <figure>
        <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="350px">
        <figcaption>Big Mike. 😎</figcaption>
    </figure>
    <figure>
        <img src="../static/images/Best_Western.jpg" alt="Best Western" width="350px">
        <figcaption>Best Western Motel. 🏨</figcaption>
    </figure>
</section>

{% endblock %}

