/* style.css */

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #91ced4;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: ghostwhite;
    border-bottom: 2px solid black;
}

nav h1 {
    font-size: 36px;
    font-weight: bold;
    background-image: url("/static/images/logo.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 50px;
    color: black;
}

nav a {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: blue;
    text-decoration: underline;
}

main {
    margin: 20px;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.headline-h1 {
    font-size: 2em;
    font-weight: 600;
}

.flash {
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: autl;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

.auth-container {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

.add-container {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 75%;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: table;
}

form p {
    display: table-row;
}

form label {
    display: table-cell;
}

form input {
    display: table-cell;
}

form {
    margin: 20px;
    padding: 20px;
    background-color: #daeff1;
    border: 2px solid blue;
    border-radius: 5px;
}

form label {
    font-size: 1.1em;
    font-weight: 600;
    color: black;
}

form input[type=text],
input[type=password],
input[type=email] {
    width: 500px;
    font-size: 1.1em;
    font-weight: 500;
    margin: 2px 5px;
    padding: 2px 5px;
    color: black;
    background: white;
    border: 2px solid black;
    border-radius: 3px;
}

form textarea {
    width: 500px;
    font-size: 1.1em;
    font-weight: 500;
    margin: 2px 5px;
    padding: 2px 5px;
    color: black;
    background: #FFFFFF;
    border: 2px solid black;
    border-radius: 3px;
}

form input[type=submit] {
    font-size: .8em;
    font-weight: 600;
    padding: 2px 5px;
    color: black;
    background-color: rgb(234, 237, 240);
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
}

form input[type=submit]:active {
    box-shadow: inset 2px 2px 2px;
}

table {
    width: 100%;
    border: 2px solid blue;
}

table td,
table th {
    color: black;
    padding: 10px;
}

table td {
    text-align: center;
    vertical-align: middle;
}

table td:last-child {
    font-size: 0.95em;
    line-height: 1.4;
    text-align: left;
}

table th {
    background-color: #daeff1;
    font-weight: 300;
}

table tr:nth-child(2n) {
    background-color: white;
}

table tr:nth-child(2n+1) {
    background-color: #edf7f8;
}

.hrefs {
    color: blue;
    text-decoration: none;
}

.hrefs:hover {
    color: green;
    text-decoration: underline;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

figure>img {
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
}

figure>figcaption {
    font-size: 1.3em;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    background-color: white;
    border: none;
    border-radius: 3px;
}