<!-- index.html -->

{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}

<section class="center">
    <h1 class="headline-h1"> Posts 📬</h1>
    <br>
</section>
<section class="content">
    {% for post in posts %}
    <div class="post">
        <p><b>#{{ post.id }}</b></p>
        <b>
            <p class="title">
                <a href="{{ url_for('view', post_id=post.id)}}">
                    {{ post.title }}
                </a>
            </p>
        </b>
        <p>Author: {{ post.author }}</p>
        <p>{{ post.content }}</p>
        <p>Created: {{ post.created }}</p>
        <br>
        <span>
            <a class="button" href="/edit/{{ post.id }}">Edit</a>
            <a class="button" href="/delete_post/{{ post.id }}">Delete</a>
        </span>
        <br><br>
    </div>
    {% endfor %}
</section>

{% endblock %}

