<!-- about.html-->

<!DOCTYPE html>
<html lang="en">

<!-- about.html -->

<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}

<main>
    <section class="center">
        <h1 class="headline-h1">About Big Mike! 👨‍💻</h1>
        <br><br>
    </section>
    <section class="grid-container">
        <figure>
            <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="350px">
            <figcaption>Big Mike! 😎</figcaption>
        </figure>
        <figure>
            <img src="../static/images/Tautphaus_Park.jpg" alt="Tautphaus Park" width="350px">
            <figcaption>Tautphaus Park. 🌳</figcaption>
        </figure>
    </section>
</main>
{% endblock %}

</html>

</html>