<!-- about.html -->

{% extends 'base.html' %}
{% block title %} About {% endblock %}

{% block content %}

<setion class="center">
    <h1 class="headline-h1">About Big Mike! 👨‍💻</h1>
    <br><br>
</setion>
<section class="grid-container">
    <figure>
        <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="352px">
        <figcaption>Big Mike. 😎</figcaption>
    </figure>
    <figure>
        <img src="../static/images/Utah_Welcome.jpg" alt="Utah Welcome" width="352px">
        <figcaption>Welcome to Utah. ⛰️</figcaption>
    </figure>
</section>

{% endblock %}
