<!-- base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <nav>
        <h1>Flask-Admin! 👨‍💼</h1>
        <a href="{{ url_for('index')}}">Home 🏡</a>
        <a href="{{ url_for('admin.index')}}">Admin 👨‍💼</a>
        <a href="{{ url_for('about')}}">About ❓</a>
    </nav>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>

</html>

