
<!-- about.html -->

{% extends "base.html" %}
{% block title %} About {% endblock %}

{% block content %}

<section class="center">
    <h1 class="headline-h1">About Big Mike! 🧔‍♂️</h1>
    <br><hr>
    <br><br>
</section>
<section class="grid-container">
    <figure>
        <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="350px">
        <figcaption>Big Mike! 😎</figcaption>
    </figure>
    <figure>
        <img src="../static/images/Natural_Grocers.jpg" alt="Natural Grocers" width="350px">
        <figcaption>Natural Grocers. 🌱</figcaption>
    </figure>
</section>

{% endblock %}

