/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background: white;
}

.headline-h1 {
    font-size: 2.5em;
    font-weight: 600;
    color      : #377ba8;
}

a {
    color: #377ba8;
}

hr {
    border    : none;
    border-top: 1px solid lightgray;
}

nav {
    height: 80px;
    background : lightgray;
    display    : flex;
    align-items: center;
    padding    : 0 0.5rem;
}

nav h1 {
    font-size: 2em;
    flex  : auto;
    margin: 0;
}

nav h1 a {
    
    text-decoration: none;
    padding        : 0.25rem 0.5rem;
}

nav ul {
    display   : flex;
    list-style: none;
    margin    : 0;
    padding   : 0;
}

nav ul li a {
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a,
nav ul li span,
header .action {
    display: block;
    padding: 0.5rem;
}

main {
    margin: 30px;
}

.content {
    padding: 0 1rem 1rem;
}

.content>header {
    border-bottom: 1px solid lightgray;
    display      : flex;
    align-items  : flex-end;
}

.content>header h1 {
    flex  : auto;
    margin: 1rem 0 0.25rem 0;
}

.flash {
    margin    : 1em 0;
    padding   : 1em;
    background: #cae6f6;
    border    : 1px solid #377ba8;
}

.post>header {
    display    : flex;
    align-items: flex-end;
    font-size  : 0.85em;
}

.post>header>div:first-of-type {
    flex: auto;
}

.post>header h1 {
    font-size    : 1.5em;
    margin-bottom: 0;
}

.post {
    font-size: 1.3em;
}

.post .about {
    color     : slategray;
    font-style: italic;
}

.post .body {
    white-space: pre-line;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin        : 1em 0;
    display       : flex;
    flex-direction: column;
}

.content label {
    font-weight  : bold;
    margin-bottom: 0.5em;
}

.content input,
.content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize    : vertical;
}

input.danger {
    color: #cc2f2e;
}

input[type=submit] {
    align-self: start;
    min-width : 10em;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

figure>img {
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
}

figcaption {
    font-size: 1.5em;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
}