<!-- about.html -->

{% extends "base.html" %}
{% block title %} About {% endblock %}

{% block content %}

<section class="center">
    <h1 class="headline-h1">About Big Mike! 👨‍💻</h1>
    <br><br>
</section>
<section class="grid-container">
    <figure>
        <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="320px">
        <figcaption>Big Mike! 😎</figcaption>
    </figure>
    <figure>
        <img src="../static/images/Jackson_Tenn.jpg" alt="Exit 87 BBQ" width="320px">
        <figcaption>Exit 87 BBQ 🍖</figcaption>
    </figure>
</section>

{% endblock %}

