<!-- base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <nav>
        <h1>Flask Login! 🖥️</h1>
        <a href="/">Home 🎲</a>
        {% if current_user.is_authenticated %}
        <a href="/dashboard">Dashboard 👤</a>
        {% endif %}
        <a href="/login">Login ➡️</a>
        {% if current_user.is_authenticated %}
        <a href="/logout">Logout ⬅️</a>
        {% endif %}
        <a href="/about">About ❓</a>
    </nav>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>

</html>

